<mat-accordion  multi="true" *ngIf="sneakers.length > 0">
  <mat-expansion-panel *ngFor="let sneaks of sneakers">
    <mat-expansion-panel-header>
      <p>{{sneaks.name}}</p>
    </mat-expansion-panel-header>
    <p>${{sneaks.price}}</p>
    <img src={{sneaks.image}}>
    <ul>
      <li>owner 1</li>
      <li>owner 2</li>
      <li>owner 3</li>
    </ul>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', sneaks.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(sneaks.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1 info-text" *ngIf="sneakers.length <= 0 ">Sneaker Catalog Empty, Check back later</p>
